* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Code', Courier, monospace;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
}

ul {
    list-style: none;
}

li {
    color: inherit;
}

li:before {
    content: "- ";
}

a:visited {
    color: inherit;
}

.light-text {
    color: #D8DEE9;
}

.light-text h2 {
    color: #ECEFF4;
}

.light-text a {
    color: #E5E9F0;
}

.dark-text {
    color: #2E3440;
}

.dark-text h2 {
    color: black;
}

.dark-text a {
    color: #2E3440;
}

nav {
    color: #2E3440;
    background-color: #ECEFF4;
}

nav a {
    text-decoration: none;
}

div#navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#navigation div {
    padding: 8px;
    align-items: center;
}

div#navigation div a {
    color: inherit;
    transition: color 0.25s;
}

div#navigation div a:hover {
    color: lightslategray;
    transition: color 0.25s;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 16px 32px;
}

header {
    background-color: #FC992F;
}

section#about {
    background-color: darkslateblue;
}

section#join {
    background-color: #fdcc52;
}

section#past {
    background-color: #38839F;
}

section#contact {
    background-color: #D4ACCC;
}

#next-event {
    background-color: indianred;
    color: #ECEFF4;
}
